<div id="portfolioComponent">
  <page-title title="Create a Portfolio"></page-title>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-12">
        <h3>Portfolio Parameters</h3>
      </div>
    </div>
    <portfolio-form [form]="form"></portfolio-form>
    <div class="row">
      <div class="col-12">
        <h3>Asset Ticker Symbols</h3>
      </div>
    </div>
    <tickers [form]="form"></tickers>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.status !== 'VALID'">Create Portfolio</button>
        </form>
      </div>
    </div>
  </div>  
</div>
