<div id="portfolioComponent">
  <page-title title="Create a Portfolio"></page-title>
  <div class="container">

    <br>
    <div class="row">
      <div class="col-12">
        <h2 class="mat-h2">Portfolio Parameters</h2>
      </div>
    </div>

    <portfolio-form [form]="form"></portfolio-form>

    <div class="row">
      <div class="col-12">
        <h2 class="mat-h2">Asset Ticker Symbols</h2>
      </div>
    </div>

    <tickers [form]="form"></tickers>

    <div class="row">
      <div class="col-12">
        <h2 class="mat-h2">Benchmark Index</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <form [formGroup]="form">
          <mat-form-field class="full-width">
            <mat-select placeholder="Benchmark Index" formControlName="benchmark_index">
              <mat-option *ngFor="let benchmarkIndex of benchmarkIndexes" [value]="benchmarkIndex.value">
                {{ benchmarkIndex.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="row" *ngIf="benchmarkPrices$ | async as benchmarkPrices">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
        <asset-card [priceData]="benchmarkPrices" [removable]="false"></asset-card>
      </div>
    </div>

    <div class="row mb-30">
      <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.status !== 'VALID'">Create Portfolio</button>
        </form>
      </div>
    </div>

  </div>  
</div>
