<div id="jobListComponent">

  <div *ngIf="userPortfolios$ | async as userPortfolios">
    <h2 class="listPadding mat-h2" style="padding-top: 4px;">My Portfolios</h2>
    <ng-container *ngIf="userPortfolios.length; else noUserPortfolios">
      <job-list-view [portfolios]="userPortfolios" [listBadge]="dashboardService.listBadge"></job-list-view>      
    </ng-container>
    <ng-template #noUserPortfolios>
      <div class="listPadding">
        <div class="alert alert-info">You have not created any portfolios. 
          Go to <a routerLink="/dashboard/portfolio">Create Portfolio</a> to get started.</div>
      </div>
    </ng-template>    
  </div>

  <div *ngIf="publishedPortfolios$ | async as publishedPortfolios">
    <mat-divider></mat-divider>
    <h2 class="listPadding mat-h2 mt-5" style="padding-top: 16px;">Community Portfolios</h2>
    <ng-container *ngIf="publishedPortfolios.length; else noPublishedPortfolios">
      <job-list-view [portfolios]="publishedPortfolios" [listBadge]="dashboardService.listBadge"></job-list-view>      
    </ng-container>
    <ng-template #noPublishedPortfolios>
      <div class="listPadding">
        <div class="alert alert-info">There are no published portfolios.</div>
      </div>
    </ng-template>
    
  </div>
  
</div>
