<div id="jobListComponent">

  <div *ngIf="userPortfolios$ | async as userPortfolios">
    <div *ngIf="userPortfolios.length">  
      <h3 class="listPadding">My Portfolios</h3>
      <mat-nav-list>
        <mat-list-item *ngFor="let userPortfolio of userPortfolios" routerLink="job/{{ userPortfolio._id }}" routerLinkActive="active-link">
          <div matLine class="flex">
            <span>{{ userPortfolio.name }}</span>
            <span class="flex1">&nbsp;</span>
            <small>{{ userPortfolio.job_end.$date | date }}</small>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div *ngIf="publishedPortfolios$ | async as publishedPortfolios">
    <div *ngIf="publishedPortfolios.length">
      <h3 class="listPadding">Community Portfolios</h3>
      <mat-nav-list>
        <mat-list-item *ngFor="let publishedPortfolio of publishedPortfolios" routerLink="job/{{ publishedPortfolio._id }}" routerLinkActive="active-link">
          <div matLine  class="flex">
            <span>{{ publishedPortfolio.name }}</span>
            <span class="flex1">&nbsp;</span>
            <small>{{ publishedPortfolio.job_end.$date | date }}</small>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  
</div>
