@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Rubik, monospace');
@include mat-core($custom-typography);
$frontend-primary: mat-palette($mat-cyan, 700, 400, 900);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$frontend-warn: mat-palette($mat-deep-orange);
$frontend-theme: mat-dark-theme($frontend-primary, $frontend-accent, $frontend-warn);
@include angular-material-theme($frontend-theme);

body {
  margin: 0;
  font-family: 'Rubik', "Helvetica Neue", sans-serif;
  background: #303030;
  color: $light-primary-text;
}
