[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
deepdiff = "*"
pycodestyle = "*"

[packages]
flask = "*"
celery = {extras = ["mongodb"],version = "*"}
pymongo = "*"
flask-restplus = "*"
yahoofinancials = "*"
numpy = "*"
mypy-extensions = "*"
python-dateutil = "*"
pytest = "*"
scipy = "*"
flask-jwt-extended = "*"
bcrypt = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
start = "python start_server.py"
codestyle = "pycodestyle"
processor = "python processor.py"
deploy = "gunicorn --config gunicorn_config.py --access-logfile - app:app"
