@import "modules/variables";

$component-border-height: 10px;
$menu-button-pos: 30px;
$sidenav-width: 350px;

#optimizationComponent {
    border-bottom: #{$component-border-height} solid map-get($mat-grey, 500);
    position: relative;
}

#matContainer {
    min-height: calc(100vh - #{$navbar-height - $component-border-height});
}

#sidenav {
    width: 30vw;
    width: $sidenav-width;
}

::ng-deep #sidenav {
    border-right: none !important;
}

#menuIconWrapper {
    position: absolute;
    z-index: 100;
    top: ($menu-button-pos / 2) + 5px;
    left: $sidenav-width - 55px;

    transition: {
      duration: $swift-ease-out-duration;
      timing-function: $swift-ease-out-timing-function;
      property: left;
    }

    .closed & {
        left: $menu-button-pos;
    }
}
