<div id="optimizationComponent" [class.closed]="!dashboardService.sidenavOpened">
  <div id="menuIconWrapper">
    <button mat-mini-fab (click)="dashboardService.toggleSidenav()" id="sidenavToggle" color="primary">
      <i class="material-icons">{{ dashboardService.sidenavOpened ? 'keyboard_arrow_left' : 'menu' }}</i>
    </button>
  </div>
  <mat-sidenav-container id="matContainer">
    <mat-sidenav #sidenav mode="side" class="mat-elevation-z8" [opened]="dashboardService.sidenavOpened" id="sidenav">
      <br>
      <job-list></job-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenavContent">    
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
  