@import "modules/variables";

.optimizationResultCard {
    // This is to match the selectedCard border
    border-bottom: 4px solid rgba(0,0,0,0);
    transition: background 0.1s ease-in-out;

    &:hover {
        background: darken(map-get($mat-grey, 800), 4%);
    }
}

#menuWrapper {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 10;
}
