<mat-toolbar id="navComponent" color="primary" class="mat-elevation-z6">
  <a mat-icon-button routerLink="/home">
    <img src="/assets/images/bull.svg" alt="Bull Logo" height="35">
  </a>
  <span class="spacer">&nbsp;</span>
  <a mat-button routerLink="/dashboard/portfolio" *ngIf="userService.loggedIn">Create Portfolio</a>
  <a mat-button routerLink="/admin" *ngIf="userService.loggedIn && userService.user && userService.user.role === 'ADMIN'">Admin</a>
  <a mat-button routerLink="/home" *ngIf="userService.loggedIn" (click)="userService.logout()">Sign out</a>

  <a mat-button routerLink="/user/login" *ngIf="!userService.loggedIn">Sign in</a>
  <a mat-button routerLink="/user/register" *ngIf="!userService.loggedIn">Register</a>
</mat-toolbar>
