<div id="landingPageComponent">

  <header class="container-fluid" id="header">
    <div class="mat-display-4 text-center">Portfolio Optimizer</div>
  </header>

  <section class="container" id="descriptionCardWrapper">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <mat-card>
          <mat-card-content>
            <div class="lead">You create portfolios, and we adjust the adjust the weights of the assets to yield the best risk adjusted returns.</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <div class="mt-30 mb-30">&nbsp;</div>

  <section class="container">
    <div class="row flex flexItemsCenter">
      <div class="col-md-5">
        <img src="/assets/images/stock-chart.jpg" alt="Stock Chart" class="full-width">
      </div>
      <div class="col-md-7">
        <h1 class="mat-h1">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam culpa doloribus perspiciatis eveniet neque possimus eligendi fugiat adipisci distinctio repellat consequuntur sed rem deleniti iusto numquam, sequi dolorum dolorem quibusdam.</p>
      </div>
    </div>
  </section>

  <div class="mt-30">&nbsp;</div>

  <div class="full-width altSection">

    <section class="container">
      <div class="row flex flexItemsCenter">
        <div class="col-md-7">
          <h1 class="mat-h1">Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam culpa doloribus perspiciatis eveniet neque
            possimus eligendi fugiat adipisci distinctio repellat consequuntur sed rem deleniti iusto numquam, sequi
            dolorum dolorem quibusdam.</p>
          </div>
          <div class="col-md-5">
            <img src="/assets/images/decisions.jpg" alt="Decisions" class="full-width">
          </div>
        </div>     
      </section>
  </div>

  <div class="mb-30">&nbsp;</div>

  <section class="container">
    <div class="row flex flexItemsCenter">
      <div class="col-md-5">
        <img src="/assets/images/stock-chart.jpg" alt="Stock Chart" class="full-width">
      </div>
      <div class="col-md-7">
        <h1 class="mat-h1">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam culpa doloribus perspiciatis eveniet neque
          possimus eligendi fugiat adipisci distinctio repellat consequuntur sed rem deleniti iusto numquam, sequi
          dolorum dolorem quibusdam.</p>
      </div>
    </div>
  </section>

  <div class="mt-30 mb-30">&nbsp;</div>

</div>
