@import "modules/variables";

.sectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paddedSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionContentHeader {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    border-bottom: 3px solid $primary;

    .material-icons {
        color: $primary;
        font-size: 2rem;
        transform: translateY(0.25rem);
    }
}

#header {
    // background: url('/assets/images/stock-chart.jpg');
    background: linear-gradient(130deg, rgba($primary-darker, 0.1), $primary-darker, rgba($primary-darker, 0.1));
    background-position: center;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-display-4 {
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 0;

        @media screen and (max-width: 900px) {
            font-size: 30px;
        }
    }
}

.altSection {
    background-color: $card-background-color;
    padding-top: 30px;
    padding-bottom: 30px;

    .sectionContentHeader {
        border-color: $accent;

        .material-icons {
            color: $accent;
        }
    }
}

#descriptionCardWrapper {
    margin-top:-30px;
}

.sliderWrapper {
    background: map-get($mat-grey, 900);
    padding: 48px 24px;
    pointer-events: none;
}

footer {
    padding-top: 75px;
    padding-bottom: 50px;
    background: $card-background-color;

    #tuLogo {
        max-width: 200px;
    }

    #githubLogo {
        height: 20px;
        transform: translateY(-2px);
    }
}
