<div id="tickersComponent">
  <div class="row">
    <div class="col-12">   

      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div id="tickerSearchBox">
        <form (ngSubmit)="tickerCtrlSubmit()">
          <mat-form-field>
            <input type="text" placeholder="Ticker Symbol" matInput [formControl]="tickerCtrl">
          </mat-form-field>
          <span class="formSpacer">&nbsp;</span>
          <button mat-raised-button color="primary" type="submit" [disabled]="tickerCtrl.status !== 'VALID'">Add Ticker</button>
        </form>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-4 mb-30" *ngFor="let priceData of priceDataArr">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ priceData.ticker }}</mat-card-title>
          <mat-card-subtitle>Prices over the last year</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="chartWrapper">
            <canvas baseChart
              [datasets]="lineChartData[priceData.ticker]"
              [labels]="lineChartLabels[priceData.ticker]"
              [options]="lineChartOptions" 
              [colors]="lineChartColors"
              chartType="line"
              style="display: block"></canvas>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
