<footer id="footerComponent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-5">
          <img
            src="/portfolio-optimizer/assets/images/tuLogo.svg"
            alt="Towson University Logo"
            id="tuLogo"
          />
        </div>
        <p class="text-muted"><small>A project for Towson University</small></p>
        <mat-divider></mat-divider>
        <div class="mt-15 mb-3">
          <a
            mat-stroked-button
            target="_blank"
            href="https://github.com/jtucke2/Portfolio-Optimizer"
            color="primary"
          >
            <img
              src="/portfolio-optimizer/assets/images/githubLogo.svg"
              alt="GitHub Logo"
              id="githubLogo"
            />
            <span>&nbsp;GitHub</span>
          </a>
        </div>
        <p class="text-muted"><small>&copy; 2019, Jason Tucker</small></p>
      </div>
    </div>
  </div>
</footer>
