<div class="assetCardComponent">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ priceData.ticker }}</mat-card-title>
      <mat-card-subtitle>Prices from {{ priceData.startDate | date:'shortDate' }} to {{ priceData.endDate | date:'shortDate' }}</mat-card-subtitle>
      <button mat-icon-button matTooltip="Remove Asset" (click)="removeAsset.emit(priceData.ticker)" *ngIf="removable">
        <i class="material-icons">close</i>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="chartWrapper" [chart]="priceData.chart"></div>
    </mat-card-content>
    <div class="text-right returnPercent" [class.negative]="priceData.returnPercent[0] === '-'">
      {{ priceData.returnPercent }}%</div>
  </mat-card>
</div>
